body{

margin:0;
overflow:hidden;
font-family:Arial, sans-serif;
background:black;
color:white;

}


/* BOOT */

#boot{

height:100vh;

display:flex;
flex-direction:column;

justify-content:center;
align-items:center;

background:#02050c;

}


.loader{

width:60px;
height:60px;

border:6px solid #333;

border-top:6px solid #00aaff;

border-radius:50%;

animation:spin 1s linear infinite;

}


@keyframes spin{

100%{

transform:rotate(360deg);

}

}





/* LOGIN */

#login{

display:none;

height:100vh;

justify-content:center;

align-items:center;

flex-direction:column;

background:#071525;

}





button{

padding:10px;

margin:5px;

border-radius:8px;

border:0;

cursor:pointer;

}





/* DESKTOP */

#desktop{

display:none;

height:100vh;

background:

linear-gradient(

135deg,

#002244,

#000814

);

}





.icons{

padding:20px;

}





.icon{

width:100px;

text-align:center;

font-size:40px;

margin-bottom:25px;

cursor:pointer;

}





.icon img{

width:60px;

height:60px;

}





.icon span{

display:block;

font-size:15px;

}








/* TASKBAR */

#taskbar{

position:absolute;

bottom:0;

width:100%;

height:55px;

background:#111b;

backdrop-filter:blur(10px);

display:flex;

align-items:center;

}





#startButton{

margin:10px;

font-size:25px;

background:none;

color:white;

}





#powerButton{

margin-left:auto;

font-size:25px;

background:none;

color:white;

}





#clock{

margin:20px;

}







/* START MENU */

#startMenu{

display:none;

position:absolute;

bottom:65px;

left:10px;

background:#101820;

padding:20px;

border-radius:15px;

}









/* NOVA PAINT */


#paintWindow{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

background:#101820;

padding:15px;

border-radius:15px;

z-index:1000;

}





.paintHeader{

display:flex;

justify-content:space-between;

align-items:center;

}





#paintCanvas{

background:white;

border-radius:10px;

margin-top:10px;

}





.paintOptions{

margin-bottom:10px;

}





/* AI WINDOW */


#paintAI{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

background:#101820;

padding:20px;

border-radius:15px;

z-index:2000;

width:300px;

}





#aiCommand{

width:90%;

padding:10px;

}






/* VIRUS */


#virusWarning{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

background:#111;

border:2px solid red;

padding:30px;

z-index:4000;

}







/* SHUTDOWN */


#shutdownScreen{

display:none;

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

background:black;

z-index:5000;

justify-content:center;

align-items:center;

flex-direction:column;

}